 <table class="editableShoppingCart" width="100%">
    <tr>
        <th>Produkt</th>
        <th>Preis</th>
        <th>Anzahl</th>
        <th>Gesamt</th>
        <th></th>

    </tr>

    {% for item in shoppingcart %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price|number_format(2, ',', '.') }} €</td>
            <td><input type="text" value="{{ item.quantity }}"></td>
            <td>{{ item.sum|number_format(2, ',', '.') }} €</td>
            <td><a href="{{ path('app_shop_shoppingcart_increase', {'id': item.id}) }}">+</a></td>
            <td><a href="{{ path('app_shop_shoppingcart_decrease', {'id': item.id}) }}">-</a></td>
            <td><a href="{{ path('app_shop_shoppingcart_remove', {'id': item.id}) }}">X</a></td>

        </tr>
    {% endfor %}
</table>