{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<div class="container">


    <h1>Danke für Ihre Bestellung!</h1>

    <p>
        Ihre Bestellung wurde erfolgreich abgeschlossen.
    </p>
    
    <h2>Bestellübersicht</h2>

    <br>
        Order ID: {{ order.id }} , Bestelldatum: {{ order.date|date('d.m.Y H:i:s') }}   

    {% for data in userData|keys %}
        {{ data }}: {{ userData[data] }}<br>
    {% endfor %}


    <br>    

    <h3>Bestellte Produkte</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Produkt</th>
                <th scope="col">Preis</th>
                <th scope="col">Anzahl</th>
                <th scope="col">Gesamt</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.sum }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    
    <a class="btn btn-primary" href="{{ path('app_shop') }}">&larr; Zurück zum Shop</a>

</div>
{% endblock %}
