{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<div class="container">


    <h1>Summary</h1>

    {# <div class="d-flex justify-content-between">
        <a class="btn btn-secondary" href="{{ path('app_shop_deliveryaddress') }}">&larr; Zurück zum Adressangabe</a>
    </div> #}
    <br>

    <h2>Delivery Address</h2>
    <!-- disgusting but works for now -->
    <p>
    {% if userData %}
        {% for key, value in userData %}
            <strong>{{ key|capitalize }}:</strong> {{ value }}<br>
        {% endfor %}
    {% else %}
        Keine Benutzerdaten vorhanden.
    {% endif %}
    </p><br>

    <h2>Items</h2>
    {% include 'shop/editableShoppingCart.html.twig' %}
    <br>

    <div class="d-flex justify-content-between align-items-start">
        <a class="btn btn-secondary" href="{{ path('app_shop_deliveryaddress') }}">&larr; Zurück zum Adressangabe</a>
        <a class="btn btn-success btn-lg" href="{{ path('app_shop_ordered') }}">Jetzt Bestellen</a>
    </div>

</div>
{% endblock %}
