{% if shoppingcart is empty %}
    
    <p>Ihr Warenkorb ist leer</p>

{% else %}
    <table class="editableShoppingCart" width="100%">
        <tr>
            <th>Produkt</th>
            <th>Preis</th>
            <th>Anzahl</th>
            <th>Gesamt</th>
        </tr>

        {% for item in shoppingcart %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price|number_format(2, ',', '.') }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.sum|number_format(2, ',', '.') }} €</td>
            </tr>
        {% endfor %}
    </table>
    <div class="total">
        <p>Gesamt: {{ shoppingcartsum|number_format(2, ',', '.') }} €</p>
    </div>

{% endif %}